#linkedin-pic {
    max-width: min(100%, 250px);
}

#intro-container {
    padding: 2vw;
}

#intro-container h1 {
    text-align: center;
}

.about-p, .welcome-p {
    text-indent: 2em;
}

h3 {
    font-size: 1.25rem;
}
